default: &default
  name: fallback configuration
  version: "0.0.1"
  http:
    host: 127.0.0.1
    port: 8080
  database:
    user: gitery
    password: "password"
    host: 0.0.0.0
    port: 5432
    name: gitery
  jwt_secret: "JwtSecret"

development:
  <<: *default
  name: development configuration
  database:
    name: gitery

production:
  <<: *default
  name: production configuration
  http:
    host: 0.0.0.0
    port: 80
  database:
    user: gitery
    password: "password"
    host: postgres # host name in docker network
    port: 5432
    name: gitery
